app/google-services.json"

app/google-services\.json

\.gradle/4\.6/fileHashes/fileHashes\.bin

*.lock

*.bin

\.idea/libraries/

\.idea/workspace\.xml

local\.properties

\.idea/caches/build_file_checksums\.ser

\.idea/misc\.xml
